@{
    ViewData["Title"] = "Table";
}

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Notes</td>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                @*<td><a asp-controller="Home" asp-action="Edit" asp-route-formid="@x.FormId">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-formid="@x.FormId">Delete</a></td>*@
            </tr>
    </tbody>

</table>