@{
    ViewData["Title"] = "Form";
}

<h2>Form Page</h2>
<div class="form-center">
    <form method="post">
        <fieldset style="border-radius: 10px;">

            <div asp-validation-summary="All"></div> <!--Makes it so validation pops up-->

            <label for="title">Title</label>
            <input type="text" id="title"><br><br>         

        </fieldset>
    </form>

</div>